<div class="container">
    <% if current_user.admin %>
        <div class="row">
          <div class="col-12"> 
              <h1 class="text-center" style="padding: 300px 0 300px 0;">ADMIN - COMING SOON</h1>
          </div>
        </div>
    <% else %>
        <div class="row">
          <div class="col-12"> 
              <h1 class="text-center" style="padding: 300px 0 300px 0;">ACCES NON AUTORISE</h1>
          </div>
        </div>
    <% end %>
</div>





