<div class="container">

    <div class="row">
      <div class="col-12"> 
          <h1 class="text-center" style="padding: 300px 0 300px 0;">BOOKING - COMING SOON</h1>
      </div>
    </div>

</div>