html {
  scroll-behavior: smooth;
}
body {
  padding-top: 56px;
}
nav {
  margin-bottom: 75px;
}
a {
  color: #000000;
  &:hover {
    color: #f76b1c;
    text-decoration: none;
  }
}
.navbar-light {
  .navbar-nav {
    .nav-link {
      &:hover {
        color: #f76b1c;
      }
    }
  }
}
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-caption {
  padding-bottom: 20%;
  color: black;
}
.portfolio-item {
  margin-bottom: 30px;
}
.row {
  margin-top: 50px;
}
.active {
  color: #f76b1c;
}
.btn-primary {
  color: #f76b1c;
  background-color: #000000;
  border-color: #f76b1c;
}