<div class="container">
    <div class="row mt-100">
        <div class="col-12">
            <h1>Votre paiement a été accepté</h1>
            <p>Date : <%= @booking.schedule.schedule_date %></p>
            <p>Lieu : <%= @booking.schedule.mountain.mount_title %></p>
            <p>Participants : <%= @booking.booking_participants %></p></p>
        </div>
    </div>
</div>